@using Chirp.Infrastructure
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationAuthor> SignInManager
@inject UserManager<ApplicationAuthor> AuthorManager

<div class="navigation">
    @if (SignInManager.IsSignedIn(User))
    {
        <a href="/@AuthorManager.GetUserName(User)">my timeline</a>
        <a href="/">public timeline</a>
        <a href="/following">following timeline</a>
        <a href="/AboutMe">about me</a>
        <form asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Page("/", new { area = "" })"
              method="post" style="display:inline">
            <button class="nav-link btn btn-link p-0" type="submit">
                logout
            </button>
        </form>
    }
    else
    {
        <a href="/">public timeline</a>
        <a asp-area="Identity" asp-page="/Account/Register">register</a>
        <a asp-area="Identity" asp-page="/Account/Login">login</a>
    }
</div>